.team-custom-modal {
  width: 818px;
}

.team-step-navigation {
  display: flex;
  color: black;
  justify-content: center;
  gap: 12%;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 5px;
}

.team-step-navigation::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 30%;
  right: 10%;
  height: 2px;
  background-color: white;
  z-index: 0;
  width: 39%;
  transform: translateY(-50%);
}

.team-step-navigation::after {
  content: "";
  position: absolute;
  top: 39%;
  left: 30%;
  right: 10%;
  height: 2px;
  background: rgba(121, 57, 239, 1);
  z-index: 1;
  transform: translateY(-50%);
  width: var(--progress-width, 0.000000000000000006%);
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.team-step-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
  z-index: 2;
}

.team-step-item .team-circle {
  color: black;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  margin-bottom: 5px;
  position: relative;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.team-step-item.completed .team-circle {
  background: rgba(121, 57, 239, 1);
  color: white;
}

.team-form-step {
  background-color: white;
  border-radius: 12px;
  padding: 3%;

  /* margin-top: -5.3%; */
}

.team-red {
  color: red;
}

.team-addingVendor {
  font-size: 12px;
  font-weight: 400;
}

.team-vendorDivs {
  padding-top: 3%;
}

.team-vendorcompanyNameInput {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 12px;
  color: rgba(104, 104, 104, 1);
}

.team-vendorNameDiv {
  display: flex;
  /* justify-content: space-between; */
  gap: 1%;
}

.team-vendorNameDiv1, .team-vendorNameDiv2{
  width:61%
}

.team-vendorNameInput {
  background-color: rgba(240, 240, 240, 1);
  border-radius: 12px;
  color: rgba(104, 104, 104, 1);
}

.team-vendorButtonDiv {
  display: flex;
  width: 100%;
  gap: 3%;
}

.team-vendorButtonDiv {
  width: 100%;
  background-color: rgba(121, 57, 239, 1);
  border: rgba(121, 57, 239, 1);
  color: white;
  font-size: 14px;
  padding: 1%;
  border-radius: 12px;
  margin-top: 3%;

  button{
    text-align: center;
    align-items: center;
    /* padding-left: 31%; */
    width: 100%;
  }
}


.custom-close-btn {
  font-size: 9px; 
  padding: 1% !important;
}


