.dropDownDetails{
    position: absolute;
    bottom: 0;
    margin-left: 10%;
    margin-bottom: 12%;
    width: 80%;
}
.userNameBox {
  display: flex;
  padding: 3%;
  background-color: white;
  border-radius: 5%;
}connectButton

.dropdown-toggle {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  padding-left: 4%;
}
.dropdown-menu{
    position: absolute;
    bottom: 1%;
    left: 100%;
    margin-left: 8%;
    padding: 10px;
    cursor: pointer;
 }

.dropdown-toggle::after {
  display: none;
}

.finopsysLogo{
    display: flex;
}

.companiesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarInvoice {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  padding-left: 3%;
  padding-top: 1.3%;
  padding-right: 3%;
  padding-bottom: 0.9%;
  background-color: #f0f0f0;
  margin-left: 3%;
  margin-right: 3%;
  height: 56px;
  gap: 29px;
  border-radius: 16px;
}

#email,
#ocr,
#manual,
#chat {
  display: flex;
  justify-content: center;
  border-radius: 12px;
  align-items: center;
  height: 33px;
  padding: 0.3%;
  padding-left: 1%;
  position: relative;
  padding-right: 9%;
  cursor: pointer;
  height: 40px;
  gap: 8px;
  font-size: 14px;
  margin-left: -2.6%;
  margin-top: -0.7%;

  span {
    position: absolute;
    right: 10px;
    height: 17px;
    justify-content: center;
    /* width: fit-content; */
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 1px;
    padding-bottom: 21px;
    padding-right: 3px;
    padding-left: 3px;
  }
}
.accountPayableHeading h6{
    margin: 10%;
    opacity:80%;
    font-size: 12px;
    font: "Inter";
}
.accountPayableButtons{
  margin-left: 4%;
}
.accountPayableButtons button{
    margin: 2%;
    margin-bottom: 6%;
    border: none;
    background-color: #f5f1fe;
    font-size: 13.5px;
    font-weight: 500;
  }
.accountPayableButtonsCollapsed {
  margin: 23%;
  gap: 15%;
}
.accountPayableButtonsCollapsed img {
  padding: 20%;
  cursor: pointer;
}

.clickedButton {
  background-color: #7939ef !important;
  height: 30px !important;
  color: white;
  border-radius: 14px;
  white-space: wrap;
  font-size: 10px;

}

.connectButton {
  background-color: #7939ef !important;
  color: white;
  border-radius: 14px;
  width: 90%;
  white-space: wrap;
  text-align: start;
  /* height: 90% !important; */
  padding:3%;
}


.accountPayableButtonsCollapsed :hover {
   background-color: #7939ef;
   border-radius: 14px;
}



.AQHover:hover{
  background-color: white;
  border-radius: 14px;
  padding:3%;
  width: 90%;
  text-align: start;
}



/* =----------------------lower--------------- */

.HomeAP{
   display: flex;
   flex-direction: column ;
   gap: 0;
    border-radius: 21px;
} 


.HomeUser{
font-size: 12px;
font-weight: 500;
color: rgba(140, 140, 140, 1);
}

.picAndNameCompany{
  display: flex;
  /* flex-direction: column ; */
  gap: 1%;
}