/* .PendiingBillChatNavbar{
       height:10rem;
} */



#chatContainer {
    /* max-height: 0px !important;  */
    overflow-y: auto;
    /* border: 1px solid #ddd;  */
    overflow-x: hidden; 
    /* background-color: #f9f9f9; Optional background */
    scroll-behavior: smooth; 
}

/* Add styles for scrollbar customization (optional) */
#chatContainer::-webkit-scrollbar {
    width: 6px;
}

#chatContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

#chatContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.chatdropdownContainerApproveDecline {
  position:fixed;
  left: 75.6%;  
  width: 10%;
  background-color: #F0F0F0; 
 color: black;
 display: flex; /* Use Flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Horizontally center */
  justify-content: center;
  border-radius: 12px;
  font-family: Inter;
   /* z-index: 1; */
   
   top: 76.6%;
 
}  
.chatdropdownContainerDecline {
  position:fixed;
  left: 75.6%;
  width: 10%;
  background-color: #F0F0F0; 
 color: black;
 display: flex; /* Use Flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Horizontally center */
  justify-content: center;
  border-radius: 12px;
  font-family: Inter;
   /* z-index: 1; */
   
   top: 67.6%;
 
}  
.chatDropdownEachItem{
    font-size: 14px;
    font-weight: 400;
    border-radius:  8px !important;
    margin: 2px 0; /* Add vertical spacing between items */
  padding: 5px 5px; /* Add padding for click area */
  text-align: center; /* Center text inside the button */
  width: 80%;
    

}
.chatDropdownEachItem:hover,
 .chatDropdownEachItem:focus {
   background-color: white !important;
   border-radius: 8px !important;
 }