.declineTableWithChat{
    display: flex;
    gap:0%;
    background-color:  rgba(240, 240, 240, 1);
    border-radius: 20px;
    margin-top: 1%;
}
#declineTableInChat{
    position: relative; 
    width:75%;
  margin-top: 0%;
  padding-top: 0%;
}